* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #1f1f1f;
    background-color: #537888;
}
 
header{
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}
 
header a{
    color: #ffffff;
}
 
main{
    max-width: 960px;
    margin: 2rem auto;
    padding: 1.5rem;
}
footer{
    text-align: center;
    padding: 1rem;
    color: #6b7280;
    font-size: 0.875rem;
}
/*Catalogo de talleres */
 
.catalogo{
    display: grid;
    grid-template-columns: repeat(3,1fr);/*Mte tres columnas por fila*/
    gap: 1rem;
    background-color: #537888;
}
 
.tarjeta{
    background-color: #1f1f1f;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}
 
.tarjeta h2{
    margin-top: 0%;
    font-size: 1.1rem;
}
.tarjeta a{
    color: #3b82f6;
    text-decoration: none;
}
/*hover sirve para cuando pasas el mouse en un elemento grafico*/
.tarjeta a:hover{
    text-decoration: underline;
    color: #14F3C1;
}
.container{
    text-align: center;
    border-radius: 2rem;
    padding: 5px;  
    margin: 2px;
}
h1{
    color: #5ED177;
}
p{
    color: #14F3C1;
}
td{
    color: #14F3C1;
    padding: 140px;
}
th{
    color: #5ED177;
}
table{
    text-align: center;
    align-items: center;
    justify-content: center;
}
button{
    background-color: #1f1f1f;
    color: #5ED177;
    border-radius: 1rem;
    border: 2px solid #1f1f1f;
    padding: 15px;
}

button :hover{
    color: #14F3C1;
}
.registro_form{
    align-items: center;
    text-align: center;
}

input{
    border-radius: 5px;
    border: #ffffff;
}

.potrocolor{
    color: #1f1f1f;
}